header {
    background-color: #00274C;
    color: #FFCB05;

}

nav {
    padding: 16px;
    border-bottom: solid;
    border-width: 1px;
    color: black;
    padding-left: 2em;
}

main {
    padding: 16px;
    background-color: #FCFBF4;
}

body {
    margin: 0px;
    padding: 0px;
}

figcaption {
    padding: 0px;
    margin-top: 0px;
}

img {
    height: 200px;
}

h1 {
    color: #00274D;
}

a:link {
    text-decoration: none;
    color: #00274C;
    /* color:  #FFCB05; */
}

a:visited {
    text-decoration: none;
    color: #00274C;
    /* color:  #FFCB05; */
}

a:hover {
    text-decoration: none;
    color: #00274C;
    /* color:  #FFCB05; */
}

a:active {
    text-decoration: none;
    color: #00274C;
    /* color:  #FFCB05; */
}

h3 > a {
    color: #00274C;
}

footer {
    background-color: #00274C;
    color: #FFCB05;
    padding: 2em;
}

tr:nth-child(even) {
   background-color: lightblue;
}

#nav-a {
    color: #FFCB05;
}

.four-columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.my-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 100px;
}

.has-blue-background {
    background-color: #A7DDFF;
    border: 1px solid #721EE3;
}

.has-yellow-background {
    background-color: #FAF7A7;
    border: 1px solid #E38C1E;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px dashed black;
}

.container-child {
    border: 1px solid red;
}
